<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>verifactu</name>
	<displayName><![CDATA[VeriFactu]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Send invoices to Spanish VeriFactu invoices registration system]]></description>
	<author><![CDATA[InFoAL]]></author>
	<tab><![CDATA[billing_invoicing]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
